[defaults]
inventory = ./inventory
host_key_checking = False
deprecation_warnings = False
retry_files_enabled = False
interpreter_python = auto_silent
timeout = 60

[persistent_connection]
command_timeout = 60
connect_timeout = 60